/* HTML5 Reset */

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video, a {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

article, aside, figure, footer, header, hgroup, nav, section {
    display: block;
}

ul {
    list-style: none;
}

/* Global Element Styles */

body {
    margin: 40px auto;
    width: 960px;
    font-family: Calibri, 'Open Sans', 'Helvetica Neue', Helvetica, arial, sans-serif;
    font-size: 100%;
    font-weight: 300;
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.6em;
}

h1,
h2 {
    border-bottom: 1px solid #ccc;
    line-height: 2;
}

h1,
h2 {
    margin: 0 0 30px;
    font-weight: 400;
}

p {
    margin: 30px 0;
}

/* Columns */

.column {
    margin: 0 10px;
}

.one-half {
    width: 460px;
}

/* Floats and Clears */

.clearafter:before,
.clearafter:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}

/* Fix for IE6 & IE7 */
.clearafter {
    zoom: 1;
}

.clearafter:after {
    clear: both;
}

.clearafter {
    zoom: 1;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

/* Navigation */

header {
    position: relative;
    margin-bottom: 30px;
}

nav {
    position: absolute;
    right: 0px;
    top: 15px;
}

nav ul {
    border-bottom: 1px solid #ccc;
}

nav ul.subnav {
    border-bottom: none;
    font-size: 0.8em;
}

nav ul li {
    float: left;
    width: 120px;
}

nav ul.developers li {
    width: 180px;
}

nav ul.airlines {
    margin: 0 60px;
}

nav ul li a:link,
nav ul li a:hover,
nav ul li a:visited {
    display: block;
    line-height: 2.4;
    text-align: center;
    font-weight: 200;
    text-decoration: none;
    text-transform: uppercase;
}

a:link,
a:visited,
a:active {
    color: #007dc3;
    text-decoration: underline;
    cursor: pointer;
}

    a:hover,
    nav ul li a.active {
        color: #8dc63f;
    }

/* Banner */

#banner {
    height: 300px;
    background-color: #ccc;
}

section {
    margin: 30px 0;
}

footer {
    text-align: right;
    margin: 40px 0 0;
    border-top: 1px solid #ccc;
    line-height: 3;
    font-size: 0.825em;
    padding-right: 10px;
    color: #a5a5a5;
}

footer li {
    float: left;
    margin: 0 10px;
}

.button,
a.button:link,
a.button:visited,
a.button:active {
    display: inline-block;
    padding: 0 30px;
    background-color: #007dc3;
    color: #fff;
    text-decoration: none;
    line-height: 2.4;
    font-weight: 400;
    text-transform: uppercase;
}

    .button:hover,
    a.button:hover {
        background-color: #8dc63f;
    }


    a.icon-gear:link,
    a.icon-gear:visited,
    a.icon-gear:active,
    a.icon-plane:link,
    a.icon-plane:visited,
    a.icon-plane:active {
        background-image: url(/static/images/gear.png);
        background-repeat: no-repeat;
        background-position: 10px center;
        padding-left: 45px;
    }

    a.icon-plane:link,
    a.icon-plane:visited,
    a.icon-plane:active {
        background-image: url(/static/images/plane.png);
    }